@font-face {
    font-family: "Playfair Display";
    src: url("./PlayfairDisplay-Black.woff2") format("woff2");
    src: url("./PlayfairDisplay-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Roboto";
    src: url("./Roboto-Regular.woff2") format("woff2");
    src: url("./Roboto-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Roboto";
    src: url("./Roboto-Bold.woff2") format("woff2");
    src: url("./Roboto-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }